<div class="container-fluid border">
    <div class="row">
        <div class="card card-primary">
            <span class="text-start">New purchase</span>
        </div>
    </div>
    <div class="row ">
        <div class="col-3">
            <label for="">Invoice No</label>
            <input type="text" class="form-control" name="" id="" >
        </div>
        <div class="col-3">
            <label for="">Supplier</label>
            <input type="text" class="form-control" name="" id="" >
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <label for="">Supplier</label>
            <input type="date" class="form-control" name="" id="" >
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <label for="">Select Product</label>
            <select class="form-control">
                <option value="">select product</option>
            </select>
        </div>
        <div class="col-3">
            <label for="">Quantity</label>
            <input type="number" class="form-control" name="" id="" >
        </div>
        <div class="col-3">
            <label for="">Total amount</label>
            <input type="number" class="form-control" name="" id="" >
        </div>
    </div>
    <div class="row">
        <div class="col-3 text-end">
            <button class="btn btn-sm btn-success">Save purchase</button>
        </div>
        <div class="col-3 text-center">
            <button class="btn btn-sm btn-primary">go to list</button>
        </div>
        
    </div>
</div>
